
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

* {
	font-family:sans-serif;
}

nav a{
	margin:  10px;
	padding: 30px;
	display: inline-block;
	border-radius: 20px;
	color: white;
	margin-bottom: 20px;
	 position:relative;
	 left:15%;
	 text-align:center;
	 justify-content: space-between;
	 float: none;
	 width:10%;
	 text-decoration: none; 
}

.Planing {
	background-color: #FF764E;
	Margin-right: 15%;
}

.Learning {
	background-color: #5ED3EB;
	Margin-right: 5%;
}

.Involved {
	background-color: #FFCD69;
	Margin-left: 10%;
}

h1 {
	position: absolute;
	font-family: 'Chelsea Market', cursive;
	margin-top: -410px; 
    margin-left: 600px;
	font-size: 75px; 
}

p, h2 {
	font-family: 'Roboto Mono', monospace;
}

.header_img img {
	border-radius: 50%;
	width: 25%;
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 50px;
}

.footer-img img {
	height: 40vh;
	width: 100vw;
}

.base-text {
	background-color: #DDB9A3;
	text-align: center;
	padding: 10px;
	font-size: large;
	color: white;
}

p {
	text-align: center;
	padding: 10px;
}

.img-fire img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-top: 150px;
    width: 200px;
}

.explore {
	position: absolute;
	margin-top: -270px; 
    margin-left: 650px;
}

.open {
	position: absolute;
	margin-top: -200px; 
    margin-left: 780px;
	width: 360px;
	font-size: larger;
}

.fire {
	width: 500px;
	margin-left: 680px;
}

.img-car img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-top: 150px;
    width: 200px;
}

.car {
	width: 500px;
	margin-left: 680px;
}

.base-text {
	margin-left: 25px;
	margin-right: 25px;
}